<ion-view view-title="Grupos">
    <ion-content>

        <div class="row">
            <div class="col">
                <div class="item range range-positive">
                    <i class="icon ion-ios-minus-empty"></i>
                    <input type="range" id="num_grupos" min="2" max="20" ng-model="$parent.num_grupos">
                    <i class="icon ion-ios-plus-empty"></i>
                </div>
                              
                {{$parent.num_grupos}} grupos de {{Math.floor(numPersonas() / $parent.num_grupos)}}/{{Math.ceil(numPersonas() / $parent.num_grupos)}} personas
            </div>
            
            
        </div>
        
        <div class="row">
            <div class="col">    
                <button type="button" class="button button-positive" ng-click="hacerGrupos();">Hacer grupos</button>
            </div>   
            <div class="col"> 
                <button type="button" class="button button-positive" ng-click="compartir();">Compartir</button>
            </div>
        </div>
            
        <div class="card" ng-repeat="grupo in grupos">
            <div class="item item-divider">Grupo {{$index + 1}}</div>
            <div class="item item-text-wrap">
                 <div class="item item-text-wrap" ng-repeat="hermano in grupo" ng-class="{ 'bg-success': $first }">{{ hermano.nombre}}</div>
            </div>
        </div>


    </ion-content>
</ion-view>
