<ion-view view-title="Account">
  <ion-content>
    <ion-list>
        <ion-item>
            <iframe src="https://www.google.com/calendar/embed?showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=9dvv7a6cj6lp3ns05inbg09i7g%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FMadrid" style=" border-width:0 " height="600" frameborder="0" scrolling="no"></iframe>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
