<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Hermanos" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/hermanos">
    <ion-nav-view name="tab-hermanos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Grupos" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/grupos">
    <ion-nav-view name="tab-grupos"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->                                                          
  <ion-tab title="Calendario" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/calendario">                                           
    <ion-nav-view name="tab-calendario"></ion-nav-view>                             
  </ion-tab> 


</ion-tabs>
